:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --darkest-grey: #a3a3a3;
  --black-grey: #404040;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    height: 3.5rem;
    border-bottom: 1px solid var(--border-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
.header > .left {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header > .left > .box {
    height: 2rem;
    width: 2rem;
}
.header > .left > .pill {
    width: 16rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--light-grey);
}
.header > .right {
    display: flex;
    gap: 1rem;
}
.header > .right > .box {
    height: 2rem;
    width: 2rem;
    background-color: var(--normal-grey);
}
.header > .right > .avatar {
    height: 2rem;
    width: 2rem;
    background-color: var(--dark-grey);
    border-radius: 50%;
}
.content {
    display: flex;
    gap: 1rem;
    flex: 1;
    background-color: var(--light-grey);
    align-items: start;
    justify-content: center;
    padding: 1rem;
}
.content > .left {
    width: 592px;
    height: 510px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content > .left > .profile-box {
    height: 16rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-clr);
    background-color: white;
}
.profile-box > .cover {
    height: 8rem;
    background-color: var(--dark-grey);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.profile-box > .profile-pic-info {
    padding: 1rem;
    display: flex;
}
.profile-box > .profile-pic-info > .pic {
    height: 6rem;
    width: 6rem;
    background-color: var(--normal-grey);
    border-radius: 50%;
    border: 1px solid white;
    margin-top: -4rem;
}
.profile-box > .profile-pic-info > .names {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}
.profile-box > .profile-pic-info > .names > .up {
   height: 1.5rem;
   background-color: var(--normal-grey);
   width: 50%;
}
.profile-box > .profile-pic-info > .names > .dn {
   height: 1rem;
   background-color: var(--light-grey);
   width: 70%;
}
.actions {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}
.actions > .button {
    height: 2rem;
    width: 7rem;
    background-color: var(--normal-grey);
    border: 1px solid rgba(192, 192, 192, 0.674);
}
.bio {
    height: 106px;
    width: 592x;
    background-color: white;
    border: 1px solid var(--border-clr);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.bio-text-1 {
    height: 1.5rem;
    width: 5rem;
    background-color: var(--normal-grey);
}
.bio-text-2 {
    height: 1rem;
    background-color: var(--light-grey);
}
.bio-text-3 {
    height: 1rem;
    width: 80%;
    background-color: var(--light-grey);
}
.post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--border-clr);
    /* width: 592px; */
    flex: 1;
    height: 114px;
    background-color: white;
    gap: 0.75rem;
}
.post > .up {
    height: 1.5rem;
    background-color: var(--normal-grey);
    width: 6rem;
}
.post > .dn {
    display: flex;
    align-items: start;
    gap: 0.5rem;
}
.post > .dn > .pic {
    height: 3rem;
    width: 3rem;
    background-color: var(--normal-grey);
}
.post > .dn > .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.post > .dn > .info > .uup {
    height: 1rem;
    width: 12rem;
    background-clip: var(--normal-grey);
}
.post > .dn > .info > .ddn {
    height: 0.75rem;
    width: 8rem;
    background-color: var(--light-grey);
}
.content > .right {
    width: 288px;
    height: 510px;
}
.content > .right > .up {
    border: 1px solid var(--border-clr);
    height: 210px;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.right > .up > .box {
    width: 6rem;
    height: 1.5rem;
    background-color: var(--normal-grey);
    margin-bottom: 12px;
}
.right > .up > .row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 3rem;
    padding: 8px 0;
}
.right > .up > .row > .icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--normal-grey);
}
.right > .up > .row > .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
}
.right > .up > .row > .info > .up {
    height: 0.75rem;
    background-color: var(--light-grey);
    width: 100%;
}
.right > .up > .row > .info > .dn {
    height: 0.75rem;
    background-color: var(--light-grey);
    width: 70%;
}
.right > .dn {
    height: 3.5rem;
    width: 288px;
    background-color: white;
    margin-top: 1rem;
    border: 1px solid var(--border-clr);
    display: flex;
    align-items: center;
    padding: 1rem;
}
.right > .dn > .box {
    height: 1.5rem;
    width: 6rem;
    background-color: var(--normal-grey);
}









.black {
    background-color: var(--black-btn-clr);
}
.rounded {
    border-radius: 0.25rem;
}
.rounded-xl {
    border-radius: 0.5rem;
}