:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --border-clr: rgb(229, 231, 235);
  --super-dark-grey: #a3a3a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rounded {
  border-radius: 0.25rem;
}
html,
body {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.container > .container-left {
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(23, 23, 23);
}

.container > .container-left.border-right {
  border-right: 1px solid rgb(229, 231, 235);
}

.container > .container-left > .container-left-up {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > .container-left > .container-left-up > .box {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #dcdcdc;
}

.container > .container-left > .container-left-dn.avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #262626;
  border-radius: 50%;
}

.container > .container-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container > .container-right > .right-header {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.container > .container-right > .right-header.border-bottom {
  border-bottom: 1px solid var(--border-clr);
}

.container > .container-right > .right-header > .right-header-left {
  width: 192px;
  height: 24px;
  background-color: #e5e5e5;
}

.container > .container-right > .right-header > .right-header-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container
  > .container-right
  > .right-header
  > .right-header-right
  > .rectangle {
  width: 128px;
  height: 32px;
  background-color: #f5f5f5;
}

.container > .container-right > .right-header > .right-header-right > .box {
  width: 2rem;
  height: 2rem;
  background-color: #f5f5f5;
}

.container > .container-right > .content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f5f5f5;
  flex: 1;
}

.container > .container-right > .content > .up {
  display: flex;
  gap: 1rem;
}

.container > .container-right > .content > .up > .up-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid var(--border-clr);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  height: 112px;
  flex: 1;
}

.container > .container-right > .content > .up > .up-list-item > .up {
  width: 80px;
  height: 16px;
  background-color: #e5e5e5;
}

.container > .container-right > .content > .up > .up-list-item > .mid {
  width: 96px;
  height: 32px;
  background-color: #d4d4d4;
}

.container > .container-right > .content > .up > .up-list-item > .dn {
  width: 64px;
  height: 12px;
  background-color: #f5f5f5;
}

.container > .container-right > .content > .mid {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.container > .container-right > .content > .mid > .left {
  flex: 2;
  padding: 1rem;
  border: 1px solid var(--border-clr);
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container > .container-right > .content > .mid > .left > .rectangle-up {
  width: 128px;
  height: 24px;
  background-color: #e5e5e5;
  margin-bottom: 1rem;
}

.container > .container-right > .content > .mid > .left > .rectangle-dn {
  width: 1021px;
  flex: 1;
  background-color: #f5f5f5;
}

.container > .container-right > .content > .mid > .right {
  flex: 1;
  padding: 1rem;
  border: 1px solid var(--border-clr);
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container > .container-right > .content > .mid > .right > .rectangle-up {
  width: 96px;
  height: 24px;
  background-color: #e5e5e5;
  margin-bottom: 1rem;
}

.container
  > .container-right
  > .content
  > .mid
  > .right
  > .rectangle-dn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.container
  > .container-right
  > .content
  > .mid
  > .right
  > .rectangle-dn
  > .loader {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 20px solid #e5e5e5;
  border-top-color: #111111;
}
.container > .container-right > .content > .dn {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--border-clr);
  border-radius: 0.5rem;
  background-color: white;
  height: 16rem;
}

.container > .container-right > .content > .dn > .rectangle-up {
  width: 160px;
  height: 24px;
  background-color: #e5e5e5;
  margin-bottom: 1rem;
}

.container > .container-right > .content > .dn > .rectangle-dn {
  width: 1582px;
  height: 182px;
  background-color: #f5f5f5;
}
