:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --border-clr: rgb(229, 231, 235);
  --super-dark-grey: #a3a3a3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rounded {
  border-radius: 0.25rem;
}
.border-bottom {
  border-bottom: 1px solid var(--border-clr);
}
.border-right {
  border-right: 1px solid var(--border-clr);
}
.border {
  border: 1px solid var(--dark-grey);
}
html,
body {
  height: 100%;
}
/* container */
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* header */
.container > .header {
  height: 56px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > .header > .header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container > .header > .header-left > .box {
  width: 32px;
  height: 32px;
  background-color: var(--normal-grey);
}

.container > .header > .header-left > .rectangle {
  width: 192px;
  height: 24px;
  background-color: var(--normal-grey);
}

.container > .header > .header-right {
  display: flex;
  gap: 1rem;
}

.container > .header > .header-right > .button {
  width: 80px;
  height: 32px;
}

.container > .header > .header-right > .button-gray {
  background-color: var(--normal-grey);
}

.container > .header > .header-right > .button-black {
  background-color: var(--black-btn-clr);
}

/* second div */
.container > .customer-details {
  padding: 1rem;
  background-color: var(--light-grey);
}

.container > .customer-details > .details {
  display: flex;
  /* align-items: center; */
  gap: 1.5rem;
}

.container > .customer-details > .details > .pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--dark-grey);
}

.container > .customer-details > .details > .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container > .customer-details > .details > .info > .top {
  width: 256px;
  height: 32px;
  background-color: var(--dark-grey);
}

.container > .customer-details > .details > .info > .mid {
  width: 384px;
  height: 20px;
  background-color: var(--normal-grey);
}

.container > .customer-details > .details > .info > .bottom {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.container > .customer-details > .details > .info > .bottom > .button {
  width: 112px;
  height: 32px;
  background-color: #ffffff;
}

/* main content */
.container > .content {
  flex: 1;
  display: flex;
}

/* left content */
.container > .content > .content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container > .content > .content-left > .left-header {
  padding: 1rem;
  display: flex;
  height: 3rem;
  gap: 1rem;
  padding: 0 1.5rem;
  align-items: center;
}

.container > .content > .content-left > .left-header > .box {
  width: 64px;
  height: 20px;
  background-color: var(--normal-grey);
}

.container > .content > .content-left > .left-header > .black {
  background-color: var(--black-btn-clr);
}

/* left content grid */
.container > .content > .content-left > .left-content {
  padding: 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1.5rem;
}

.container
  > .content
  > .content-left
  > .left-content
  > .left-content-left
  > .rectangle,
.container
  > .content
  > .content-left
  > .left-content
  > .left-content-right
  > .rectangle {
  width: 128px;
  height: 24px;
  background-color: var(--normal-grey);
  margin-bottom: 1rem;
}

.container
  > .content
  > .content-left
  > .left-content
  > .left-content-left
  > .row,
.container
  > .content
  > .content-left
  > .left-content
  > .left-content-right
  > .row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.container
  > .content
  > .content-left
  > .left-content
  > .left-content-left
  > .row
  > .left,
.container
  > .content
  > .content-left
  > .left-content
  > .left-content-right
  > .row
  > .left {
  width: 96px;
  height: 16px;
  background-color: var(--normal-grey);
}

.container
  > .content
  > .content-left
  > .left-content
  > .left-content-left
  > .row
  > .right,
.container
  > .content
  > .content-left
  > .left-content
  > .left-content-right
  > .row
  > .right {
  width: 160px;
  height: 16px;
  background-color: var(--light-grey);
}

/* right content */
.container > .content > .content-right {
  width: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > .content > .content-right > .rectangle {
  width: 96px;
  height: 24px;
  background-color: var(--normal-grey);
}

.container > .content > .content-right > .right-row {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem;
  background-color: #fafafa;
}

.container > .content > .content-right > .right-row > .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--dark-grey);
}

.container > .content > .content-right > .right-row > .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.container > .content > .content-right > .right-row > .text > .roundedup {
  width: 219px;
  height: 16px;
  background-color: var(--normal-grey);
  border-radius: 0.25rem;
}
.container > .content > .content-right > .right-row > .text > .roundeddn {
  width: 80px;
  height: 12px;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
}
