:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --darkest-grey: #a3a3a3;
  --black-grey: #404040;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rounded {
  border-radius: 0.25rem;
}
.black {
  background-color: var(--black-btn-clr);
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  height: 118px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid var(--border-clr);
}
.header > .up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > .up > .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header > .up > .left > .box {
  height: 2rem;
  width: 6rem;
  background-color: var(--normal-grey);
}
.header > .up > .left > .pill {
  height: 3rem;
  width: 227px;
  border: 1px solid var(--dark-grey);
  background-color: var(--light-grey);
  border-radius: 2rem;
}
.header > .up > .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header > .up > .right > .box {
  height: 2rem;
  width: 2rem;
  background-color: var(--normal-grey);
}
.header > .up > .right > .avatar {
  height: 2rem;
  width: 2rem;
  background-color: var(--normal-grey);
  border-radius: 50%;
}
.header > .dn {
  display: flex;
  gap: 2rem;
  margin: 16px 0 0 128px;
}
.header > .dn > .box {
  height: 1.3rem;
  width: 4rem;
  background-color: var(--normal-grey);
}
.header > .dn > .box-1 {
  width: 3rem;
  background-color: var(--black-btn-clr);
}
.header > .dn > .box-2 {
  width: 4rem;
}
.header > .dn > .box-3 {
  width: 3.5rem;
}
.header > .dn > .box-4 {
  width: 3rem;
}
.header > .dn > .box-5 {
  width: 2.5rem;
}
.content {
  flex: 1;
  padding: 1rem;
}
.results {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}
.results > .top {
  height: 1rem;
  width: 12rem;
  background-color: var(--normal-grey);
  margin-bottom: 1.5rem;
}
.results > .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.results > .row > .box-1 {
  height: 0.75rem;
  width: 16rem;
  background-color: var(--light-grey);
  margin-bottom: 0.25rem;
}
.results > .row > .box-2 {
  height: 1.25rem;
  width: 24rem;
  background-color: var(--dark-grey);
  margin-bottom: 0.5rem;
}
.results > .row > .box-3 {
  height: 1rem;
  width: 42rem;
  background-color: var(--light-grey);
  margin-bottom: 0.25rem;
}
.results > .row > .box-4 {
  width: 31.5rem;
  height: 1rem;
  background-color: var(--light-grey);
}
