:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --darkest-grey: #a3a3a3;
  --black-grey: #404040;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid var(--border-clr);
}
.header > .left {
    height: 1.5rem;
    width: 6rem;
    background-color: var(--black-btn-clr);
    border-radius: 0.25rem;
}
.header > .pill {
    width: 30rem;
    height: 2.5rem;
    background-color: var(--light-grey);
    border-radius: 1rem;
}
.header > .right {
    display: flex;
    gap: 0.5rem;
}
.header > .right > .box {
    height: 2rem;
    width: 2rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}
.header > .right > .circle {
    height: 2rem;
    width: 2rem;
    background-color: var(--normal-grey);
    border-radius: 50%;
}
/* Video */
.video-content {
    flex: 1;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    background-color: var(--light-grey);
    overflow: auto;
}
.video {
    display: flex;
    flex-direction: column;
    width: 80rem;
}
.player {
    height: 42rem;
    width: 100%;
    background-color: var(--black-btn-clr);
    border-radius: 2rem;
    margin-bottom: 1rem;
    flex-shrink: 0;
}
.video-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.title {
    width: 75%;
    height: 1.5rem;
    background-color: var(--dark-grey);
    border-radius:0.25rem;
}
.subscription {
    display: flex;
    justify-content: space-between;
}
.subscription > .left {
    display: flex;
    gap: 1rem;
    height: 2.5rem;
}
.subscription .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--dark-grey);
}
.subscription > .left > .name {
    height: 1rem;
    width: 8rem;
    border-radius: 0.25rem;
    background-color: var(--normal-grey);
}
.subscription .subscribe {
    height: 2.5rem;
    width: 6rem;
    background-color: var(--black-btn-clr);
    border-radius: 2rem;
}
.subscription > .right {
    display: flex;
    gap: 0.5rem;
}
.subscription > .right > .pill {
    height: 2.5rem;
    width: 6rem;
    border-radius: 2rem;
    background-color: var(--normal-grey);
}
.video-list {
    width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.video-desc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 4.5rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--normal-grey);
}
.video-desc > .text {
    height: 1rem;
    width: 100%;
    background-color: var(--dark-grey);
    border-radius: 0.25rem;
}
.video-card {
    display: flex;
    gap: 0.5rem;
}
.thumbnail {
    width: 10rem;
    height: 6rem;
    background-color: var(--dark-grey);
    border-radius: 0.5rem;
}
.description {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
    width: 6rem;
    height: 6rem;
    padding: 0.5rem 0;
}
.text {
    height: 1rem;
    width: 100%;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}

