* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.loader {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 1.25rem solid #e5e5e5;
  border-top-color: black;
  animation: load 0.8s 10 linear;
}
@keyframes load {
    /* i searched this up */
  to {
    transform: rotate(360deg);
  }
  /* I made this on my own */
  /* 0% {
        border-color: #e5e5e5;
        border-top-color: black;
    }
    25% {
        border-color: #e5e5e5;
        border-top-color: rgb(67, 62, 62);
        border-left-color: black;
    }
    50% {
        border-color: #e5e5e5;
        border-left-color: rgb(67, 62, 62);
        border-bottom-color: black;
    }
    75% {
        border-color: #e5e5e5;
        border-bottom-color: rgb(67, 62, 62);
        border-right-color: black;
    }
    100% {
        border-color: #e5e5e5;
        border-right-color: rgb(67, 62, 62);
        border-top-color: black;
    } */
}
