:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;

  overflow-y: hidden;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Top Header */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--normal-grey);
  height: 2.5rem;
  padding: 0 0.5rem;
}
.header * {
  border-radius: 0.25rem;
}
.header-left {
  width: 50%;
  display: flex;
  gap: 1rem;
}
.header-left > button {
  height: 80%;
  width: 20%;
  background-color: var(--black-btn-clr);
  margin: 0.2rem 0;
}
.header-left > .header-pill {
  width: 80%;
  background-color: var(--light-grey);
  height: 100%;
  border-radius: 2rem;
}
.header-right > .icon {
  height: 2rem;
  width: 2rem;
  margin: 0.2rem;
  border-radius: 50%;
  background-color: var(--normal-grey);
}
/* Main content */
.main-content {
  display: flex;
  flex: 1;
}
.main-left {
  flex: 1;
  border-right: 1px solid var(--normal-grey);
}
.main-header {
  display: flex;
  gap: 1rem;
  height: 2.5rem;
  border-bottom: 1px solid var(--normal-grey);
}
.main-pill {
  width: 16%;
  background-color: var(--light-grey);
  border-radius: 2rem;
  margin: 0.25rem 0;
}
.main-videos {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-videos * {
  border-radius: 0.25rem;
}
.video-card {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 10rem;
}
.video-card-image {
  width: 16rem;
  border-radius: 1rem;
  height: 100%;
  background-color: var(--normal-grey);
}
.video-card-content {
  flex: 1;
  display: flex;
  padding: 0.8rem 0;
  flex-direction: column;
  justify-content: space-between;
}
.header-video {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header-video > div:nth-child(1) {
  width: 50%;
  height: 1rem;
  background-color: var(--normal-grey);
}
.header-video > div:nth-child(2) {
  width: 70%;
  height: 1.6rem;
  background-color: var(--normal-grey);
}
.header-video > div:nth-child(3) {
  width: 50%;
  height: 1rem;
  background-color: var(--normal-grey);
}
.footer-video {
  width: 100%;
}
.footer-video div {
  width: 40%;
  height: 1.3rem;
  background-color: var(--dark-grey);
}
.main-right {
  flex: 1;
  background-color: var(--normal-grey);
  display: flex;
  gap: 1rem;
}
.main-right > div {
    /* background-color: red; */
    padding: 1rem;
}
.main-right-first-div {
  flex: 1;
}
.main-right-first-div > div {
    height: 3rem;
    width: 3rem;
    background-color: white;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}
.main-right-second-div {
  flex: 1;
}
.up-pill {
    height: 2rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-left: auto;
}
.mid-pill {
    height: 2rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 8rem;
    margin-left: auto;
}
.dn-pill {
    height: 2rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 55rem;
    margin-left: auto;
}
.blk-pill {
    height: 2rem;
    width: 1.5rem;
    background-color: var(--black-btn-clr);
    border-radius: 1rem;
    margin-top: 57.5rem;
    margin-left: auto;
}
.main-right-third-div {
  flex: 1;
}
.main-right-fourth-div {
  flex: 1;
}
.main-right-fifth-div {
  flex: 1;
}
.main-right-sixth-div {
  flex: 1;
}
.main-right-seventh-div {
  flex: 1;
}
