:root {
  --black-clr: #171717;
  --less-black-clr: #262626;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --darkest-grey: #a3a3a3;
  --mid-grey: #737373;
  --maroon: #ef44444d;
  --mid-high-grey: #404040;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    height: 100%;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* Header 1*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    height: 3.5rem;
    background-color: #171717;
}
.header > .left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header > .left > .box {
    height: 1.5rem;
    width: 4rem;
    background-color: var(--less-black-clr);
    border-radius: 0.25rem;
}
.header > .left > .box-1 {
    width: 6rem;
    background-color: var(--mid-high-grey);
}
.header > .right > .box {
    height: 2rem;
    width: 2rem;
    background-color: var(--mid-high-grey);
    border-radius: 0.25rem;
}
/* Score header */
.score-header {
    height: 7.75rem;
    background-color: var(--less-black-clr);
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.score {
    display: flex;
    justify-content: space-between;
    width: 55rem;
}
.score > .left {
    display: flex;
    gap: 1rem;
    height: 3.5rem;
    width: 12rem;
    align-items: center;
}
.score > .left > .box {
    height: 3rem;
    width: 3rem;
    background-color: var(--mid-grey);
    border-radius: 0.5rem;
}
.score > .left > .score-stat {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.score > .left > .score-stat > .up {
    height: 1.25rem;
    width: 5rem;
    background-color: var(--mid-grey);
    border-radius: 0.25rem;
}
.score > .left > .score-stat > .dn {
    height: 2rem;
    width: 7rem;
    background-color: var(--dark-grey);
    border-radius: 0.25rem;
}
.score > .right {
    display: flex;
    gap: 1rem;
    height: 3.5rem;
    width: 12rem;
    align-items: center;
}
.score > .right > .box {
    height: 3rem;
    width: 3rem;
    background-color: var(--mid-grey);
    border-radius: 0.5rem;
}
.score > .right > .score-stat {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.score > .right > .score-stat > .up {
    height: 1.25rem;
    width: 5rem;
    margin-left: auto;
    background-color: var(--mid-grey);
    border-radius: 0.25rem;
}
.score > .right > .score-stat > .dn {
    height: 2rem;
    width: 7rem;
    background-color: var(--dark-grey);
    border-radius: 0.25rem;
}
.score > .mid {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.score > .mid > .up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.score > .mid > .up > .up-up {
    height: 1rem;
    width: 4rem;
    background-color: var(--mid-grey);
    border-radius: 0.25rem;
}
.score > .mid > .up > .up-dn {
    height: 1.6rem;
    width: 6rem;
    background-color: var(--maroon);
    border-radius: 0.25rem;
}
.score > .mid > .dn {
    height: 1.25rem;
    width: 14rem;
    background-color: var(--mid-grey);
    border-radius: 0.25rem;
}
/* Content */
.content {
    display: flex;
    flex: 1;
}
/* Left in content */
.content > .left {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.left-header {
    height: 2.5rem;
    border-bottom: 1px solid var(--border-clr);
    display: flex;
    gap: 0.5rem;
}
.left-header > .box {
    height: 2rem;
    width: 6rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}
.left-content {
    border: 1px solid var(--border-clr);
    border-radius: 0.5rem;
}
.content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
}
.content-row > .left {
    height: 1rem;
    width: 12rem;
    background-color: var(--dark-grey);
     border-radius: 0.25rem;
}
.content-row > .right {
    display: flex;
    gap: 1rem;
}
.content-row > .right > .box {
    height: 1rem;
    width: 3rem;
    background-color: var(--light-grey);
     border-radius: 0.25rem;
}
/* Right in content */
.content > .right {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-left: 1px solid var(--border-clr);
}
.content > .right > .box {
    width: 6rem;
    height: 1.5rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}
.content > .right > .list-item {
    height: 4.5rem;
    background-color: var(--light-grey);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.content > .right > .list-item  > .list-item-up {
    height: 1.25rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.list-item-up > .box-1 {
    width: 3rem;
    height: 1.25rem;   
    background-color: var(--dark-grey);
    border-radius: 0.25rem;
}
.list-item-up > .box-2 {
    width: 1rem;
    height: 1em;   
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}
.list-item-dn {
    height: 1rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}