:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    height: 100%;
}
/* body {
    background-color: red;
} */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Header 1 */
.header-1 {
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--normal-grey);
}
.header-1  * {
    border-radius: 0.25rem;
}
.header-1 > .left {
    width: 10rem;
    height: 1.5rem;
    background-color: var(--normal-grey);
}
.header-1 > .right {
    display: flex;
    gap: 1rem;
}
.header-1 > .right > .box-1 {
    height: 2rem;
    width: 8rem;
    background-color: var(--light-grey);
}
.header-1 > .right > .box-2 {
    height: 2rem;
    width: 6rem;
    background-color: var(--black-btn-clr);
}
/* Header 2 */
.header-2 {
    height: 3rem;
    border-bottom: 1px solid var(--normal-grey);
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.header-2 > .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
} 
.header-2 > .left > .pill {
    width: 7rem;
    height: 1.8rem;
    border-radius: 2rem;
    background-color:var(--light-grey);
} 
.header-2 > .right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
} 
.header-2 > .right > .box {
    width: 12rem;
    height: 1.8rem;
    background-color: var(--light-grey);
    border-radius: 0.25rem;
}
/* Content */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.content > .table {
    flex: 1;
}
.content > .footer {
    height: 3rem;
    border-top: 1px solid var(--normal-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
/* footer */
.footer > .left {
    height: 1.25rem;
    width: 8rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}
.footer > .right {
    display: flex;
    gap: 0.5rem;
}
.footer > .right > .icon-box {
    height: 2rem;
    width: 2rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}
/* table */
.wrap {
    padding: 0.5rem;
    background-color: var(--dark-grey);
    height: 3rem;
}
.table {
    padding: 0 1rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0.5rem 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
}
tbody {
    padding: 1rem;
}

tbody > tr {
    padding: 0.25rem;
    height: 1.5rem;
    border-bottom: 1px solid var(--border-clr);
}
td {
    height: 3rem;
}
td > *{
    background-color: var(--normal-grey);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    /* padding: 0.8rem 1rem; */
}
.small {
    width: 2rem;
    height: 1.5rem;
}
.normal {
    width: 8rem;
    height: 1.5rem;
}
.gap {
    width: 30rem;
    background-color: white;
}
.res {
    width: 6rem;
    height: 1.5rem;
    background-color: var(--normal-grey);
}
.res-after {
    height: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.res-box {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1.5rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}