:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --darkest-grey: #a3a3a3;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    height: 100%;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    height: 3.5rem;
    border-bottom: 1px solid var(--border-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
.header > .left {
    height: 1.5rem;
    width: 12rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}
.header > .right {
    display: flex;
    width: 14rem;
    justify-content: space-between;
    align-items: center;
}
.header > .right > .avatars {
    display: flex;
}
.header > .right > .avatars > .icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 0.5px solid white;
    background-color: var(--dark-grey);
    margin-left: -0.6rem;
}
.right > .btn {
    height: 2rem;
    width: 6rem;
    background-color: var(--light-grey);
    border-radius: 0.25rem;
}
/* Main */
.main {
    flex: 1;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}
.column {
    padding: 0.75rem;
    width: 18rem;
    background-color: var(--normal-grey);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.col-header {
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-header > .left {
    width: 6rem;
    height: 1.5rem;
    background-color: var(--darkest-grey);
    border-radius: 0.25rem;
}
.col-header > .right {
    width: 1.8rem;
    height: 1.5rem;
    background-color: var(--darkest-grey);
    border-radius: 0.25rem;
}
.content {
    flex: 1;
}
.card {
    height: 7rem;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
}
.card-header > .first {
    height: 1rem;
    background-color: var(--normal-grey);
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}
.card-header > .second {
    height: 1rem;
    background-color: var(--light-grey);
    border-radius: 0.25rem;
    width: 70%;
}
.card-footer  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-footer > .left {
    width: 3rem;
    height: 1.5rem;
    background-color: var(--normal-grey);
    border-radius: 0.25rem;
}
.card-footer > .right {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--normal-grey);
    border-radius: 50%;
}
.footer {
    height: 2rem;
    border-radius: 0.25rem;
    background-color: var(--dark-grey);
}