:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.container {
  height: 100%;
}
/* Top */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  height: 4rem;
  border-bottom: 1px solid var(--border-clr);
}
.header-btn {
  background-color: var(--black-btn-clr);
  height: 100%;
  width: 7rem;
  border-radius: 0.25rem;
}
.pill-header {
  height: 100%;
  background-color: var(--light-grey);
  width: 25rem;
  border-radius: 2rem;
}
.icon-header {
  height: 80%;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--normal-grey);
}
/* Left */
.main-content {
  display: flex;
}
.left-nav {
  padding: 2rem 1.5rem;
  border-right: 1px solid var(--border-clr);
  width: 24rem;
}
.left-nav * {
  border-radius: 0.3rem;
}
.left-nav-item-1 {
  margin-bottom: 1.5rem;
  width: 100%;
}
.left-nav-item-1 > .up {
  height: 1.3rem;
  width: 30%;
  background-color: var(--dark-grey);
  margin-bottom: 0.5rem;
}
.left-nav-item-1 > .down {
  width: 100%;
  height: 2.8rem;
  background-color: var(--light-grey);
}
.left-nav-item-2 {
  margin-bottom: 1.5rem;
  width: 100%;
}
.left-nav-item-2 > .up {
  height: 1.3rem;
  width: 40%;
  background-color: var(--dark-grey);
  margin-bottom: 0.5rem;
}
.left-nav-item-2 > .down {
  width: 100%;
  height: 0.5rem;
  background-color: var(--normal-grey);
}
.left-nav-item-3 {
  margin-bottom: 1.5rem;
  width: 100%;
}
.left-nav-item-3 > .up {
  height: 1.3rem;
  width: 30%;
  background-color: var(--dark-grey);
  margin-bottom: 0.5rem;
}
.left-nav-item-3 > .down {
  width: 100%;
  height: 1.4rem;
  background-color: var(--light-grey);
  margin-bottom: 0.5rem;
}
.left-nav-item-4 {
  margin-bottom: 1.5rem;
  width: 100%;
}
.left-nav-item-4 > .up {
  height: 1.3rem;
  width: 50%;
  background-color: var(--dark-grey);
  margin-bottom: 0.5rem;
}
.left-nav-item-4 > .down {
  width: 100%;
  height: 1.4rem;
  background-color: var(--light-grey);
  margin-bottom: 0.5rem;
}
/* Right */
.right-content {
  padding: 2rem;
}
.right-content {
  flex: 1;
  min-width: 0;
}
.right-top {
  display: flex;
  justify-content: space-between;
  height: 1.6rem;
  margin-bottom: 1.5rem;
}
.right-top-left {
  height: 100%;
  width: 15rem;
  background-color: var(--normal-grey);
  border-radius: 0.25rem;
}
.right-top-right {
  height: 100%;
  width: 10rem;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
}
.right-video {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.video-card {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 32%;
  border-radius: 0.5rem;
}
.card-img {
  height: 60%;
  background-color: var(--dark-grey);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card-content {
  height: 40%;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.card-content-1 {
  width: 80%;
  background-color: var(--normal-grey);
  margin-bottom: 0.5rem;
  height: 1.2rem;

  border-radius: 0.25rem;
}
.card-content-2 {
  width: 50%;
  background-color: var(--normal-grey);
  margin-bottom: 0.8rem;
  height: 1rem;
  border-radius: 0.25rem;
}
.card-content-3 {
  width: 30%;
  background-color: var(--dark-grey);
  margin-bottom: 0.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}
