:root {
  --black-btn-clr: #171717;
  --light-grey: #f5f5f5;
  --normal-grey: #e5e5e5;
  --dark-grey: #d4d4d4;
  --darkest-grey: #a3a3a3;
  --black-grey: #404040;
  --border-clr: rgb(229, 231, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
}
.chat-list {
  width: 16rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-clr);
}
.chat-list > .header {
  height: 4rem;
  border-bottom: 1px solid var(--border-clr);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.chat-list > .header > div {
  height: 2rem;
  width: 100%;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
}
.list-card {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
.dark {
  background-color: var(--light-grey);
}
.avatar {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--dark-grey);
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
  padding: 0.25rem 0;
}
.name-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.name {
  width: 6rem;
  height: 1rem;
  background-color: var(--normal-grey);
  border-radius: 0.25rem;
}
.time {
  width: 2.5rem;
  height: 0.75rem;
  background-color: var(--normal-grey);
  border-radius: 0.25rem;
}
.preview {
  height: 1rem;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
}
.chat-screen {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.chat-screen > .header {
  height: 3.5rem;
  width: 100%;
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-clr);
}
.chat-screen > .header > .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.chat-screen > .header > .left > .name-status {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.chat-screen > .header > .left > .name-status > .name {
  height: 1.25rem;
  width: 8rem;
}
.chat-screen > .header > .left > .name-status > .status {
  height: 0.75rem;
  background-color: var(--light-grey);
  width: 5rem;
  border-radius: 0.25rem;
}
.chat-screen > .header > .right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.chat-screen > .header > .right > div {
  height: 2rem;
  width: 2rem;
  background-color: var(--light-grey);
}
.action-area {
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  border-top: 1px solid var(--border-clr);
}
.attachment {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
}
.text-area {
  height: 2.5rem;
  flex: 1;
  border-radius: 2rem;
  background-color: var(--light-grey);
}
.send {
  background-color: var(--black-btn-clr);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.chat-area {
  flex: 1;
  padding: 1.5rem;
}
.rec-1 {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.msg-box {
  width: 18rem;
  height: 3rem;
  padding: 1rem;
  background-color: var(--light-grey);
  border-radius: 1rem;
  border-top-left-radius: 0;
}
.msg {
  height: 1rem;
  border-radius: 0.25rem;
  background-color: var(--normal-grey);
}
.send-1 {
  margin-bottom: 1rem;
  display: flex;
}
.send-1-blank {
    flex: 1;
}
.send-1 > .msg-box {
  background-color: var(--black-btn-clr);
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
}
.send-1 .msg {
  background-color: var(--black-grey);
}
